[access]
	inheritFrom = Public-Plugins
[submit]
	action = inherit
[access "refs/*"]
	owner = group modules-global-refdb
	create = group modules-global-refdb
	createSignedTag = group modules-global-refdb
	label-Code-Review = -2..+2 group modules-global-refdb
[project]
	description = Global ref-database interface for use with a multi-site setup of Gerrit Code Review
